@page
@model IndexModel
@{
    ViewData["Title"] = "Strona główna Biblioteki";
}

<div class="text-center">
    <h1 class="display-4">Witamy na stronie Biblioteki Adam's Library</h1>
    <p>Serdecznie witamy na stronie Biblioteki Adam's Library, ekskluzywnego miejsca dla miłośników literatury!</p>

    <p>Nasza biblioteka oferuje bogaty wybór książek, które zaspokoją gusta każdego czytelnika. Poniżej znajdziesz kilka przykładowych tytułów:</p>

    <ul>
        <li>"Lalka" - Bolesław Prus</li>
        <li>"Zbuntowana planeta" - Ursula K. Le Guin</li>
        <li>"Władca Pierścieni" - J.R.R. Tolkien</li>
        <li>"Złodziejka książek" - Markus Zusak</li>
        <li>"Duma i uprzedzenie" - Jane Austen</li>
    </ul>

    <p>Zapraszamy serdecznie do odwiedzenia naszej biblioteki w Poznaniu, przy ulicy Dolnej 23/4. Znajdziesz nas w pięknym budynku z klasyczną architekturą, pełnym ciepła i atmosfery sprzyjającej czytaniu.</p>

    <p>Przepraszamy za wszelkie utrudnienia, ale obecnie dostęp do strony jest ograniczony tylko dla administratorów. Jeśli jesteś administratorem masz dostęp do pełnych zasobów biblioteki.</p>

    <div class="image-container">
        <div class="image-item">
            <img src="~/images/lalka.jpg" alt="Okładka książki 'Lalka'">
            <p>Okładka książki 'Lalka'</p>
        </div>

    </div>
</div>

<style>
    .image-container {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }

    .image-item {
        text-align: center;
    }

        .image-item img {
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
        }
</style>
