@page
@model Biblioteka.Pages.PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_Layout";
}

<div class="container">
    <h1>Polityka Prywatności Biblioteki "Adam's Library"</h1>

    <p>Działając z poszanowaniem prywatności naszych użytkowników, Biblioteka Adam's Library zobowiązuje się do ochrony wszelkich informacji osobistych, jakie nam udostępniasz podczas korzystania z naszych usług. Niniejsza Polityka Prywatności wyjaśnia, jakie dane zbieramy, w jaki sposób są one wykorzystywane, przechowywane i chronione.</p>

    <h2>Rodzaje zbieranych informacji:</h2>
    <ul>
        <li><strong>Dane osobiste:</strong> Podczas rejestracji w bibliotece, możemy prosić o podanie Twojego imienia, nazwiska, adresu e-mail, numeru telefonu i innych danych identyfikacyjnych.</li>
        <li><strong>Dane logowania:</strong> Gromadzimy informacje dotyczące Twojej aktywności na naszej stronie, w tym adresy IP, daty i godziny dostępu, przeglądarki internetowej oraz strony, które odwiedzasz.</li>
    </ul>

    <h2>Cel zbierania danych:</h2>
    <ul>
        <li><strong>Dostarczanie usług:</strong> Zebrane informacje osobiste są wykorzystywane do obsługi Twoich zamówień, dostarczania powiadomień o dostępności książek oraz zarządzania Twoim kontem czy katalogiem wypożyczeń.</li>
        <li><strong>Statystyki i analizy:</strong> Dane logowania pomagają nam analizować trendy użytkowania i doskonalić nasze usługi, dbając o lepszą jakość obsługi czy dostosowywanie oferty do potrzeb czytelniczych naszych użytkowników.</li>
    </ul>

    <p><strong>Udostępnianie informacji:</strong> Nie udostępniamy Twoich danych osobowych podmiotom trzecim bez Twojej zgody, z wyjątkiem sytuacji wynikających z przepisów prawa.</p>

    <p><strong>Bezpieczeństwo danych:</strong> Stosujemy środki bezpieczeństwa, takie jak szyfrowanie danych, aby chronić Twoje informacje przed nieuprawnionym dostępem, utratą, zmianą czy ujawnieniem.</p>

    <p><strong>Prawa użytkowników:</strong> Masz prawo dostępu, poprawiania, usuwania swoich danych osobowych. W każdym momencie możesz zrezygnować z otrzymywania informacji marketingowych.</p>

    <p><strong>Zmiany w polityce prywatności:</strong> Niniejsza Polityka Prywatności może ulec zmianie. Aktualizacje będą publikowane na naszej stronie, a zmiany wchodzą w życie natychmiast po opublikowaniu.</p>

    <p>Korzystając z naszych usług, akceptujesz warunki zawarte w tej Polityce Prywatności. Jeśli masz jakiekolwiek pytania lub obawy dotyczące prywatności, skontaktuj się z nami pod adresem <a href="mailto:kontakt@AdamsLib.pl">kontakt@AdamsLib.pl</a>.</p>

    <p>Data ostatniej aktualizacji: 18.02.2024</p>
</div>


